:root {
    /* colors */
    --black-cold: rgb(0, 0, 0, 0.9);
    --black-carbon: rgb(0, 0, 0, 0.8);

    --white-cotton: #f5f5f5;
    --white-burnt: #ebebeb;
    --white-concrete: #e1e1e1;
    --white-silver: #d7d7d7;
    --white-cloudy: #cdcdcd;
    --white-hash: #c3c3c3;
    --white-gray: #b9b9b9;

    --blueberry: #3a414a;

    --kraken: #8b2252;
    --ruby: #a62a17;
    --salmon: #ed6d57;

    /* font sizes */
    --h1: 1.6rem; /* 25px */
    --h2: 1.1rem;  /* 18px */ 
    --h3: 1rem; /* 16px */
    --body: 0.8rem;  /* 12px */
    --micro: 0.6rem; /* 10px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MONO, sans-serif;
    font-weight: 100;
}

@font-face {
    font-family: 'MONO';
    src: url(assets/font.woff2);
}

body {
    box-sizing: border-box;  /* Include padding and border with width and height */
    padding-bottom: 15px;
    background-color: var(--white-burnt);
}

article {
    width: 100%;
}

h1 {
    font-size: 42px;
    color: var(--blueberry);
    font-weight: 600;
}

h2 {
    font-size: 14px;
}

h3 {
    padding-top: 2px;
    font-size: 14px;
    font-style: italic;
    display: inline-block;
    color: var(--blueberry);
}

h4 {
    padding-top: 2px;
    font-size: 14px;
    display: inline-block;
}

p {
    padding-top: 2px;
    font-size: 12px;
    line-height: 14px;
}

.sign {
    text-align: end;
    padding-right: 2px;
}

a:link {
    font-family: MONO, sans-serif;
    font-size: 12px;
    color:var(--ruby);
}

a:hover {
    color: var(--salmon);
}

a:visited {
    color: var(--kraken);
}

.container {
    width: 100vw;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* gap: 20px; */
    background-color: var(--white-burnt);
    position: relative;
}

/* HEADER */
.header {
    padding: 20px;
    padding-bottom: 10px; /* workaround for social btns size */
    margin-right: 20px;
    order: 0;
    flex: 0 0 40vw;
    background-color: var(--white-cotton);
    border: 1.4px solid var(--black-carbon);
    border-left: 0px;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    position: sticky;
    top: 60px;
    /* z-index: 10; */
}

.ID {
    margin-bottom: 5px;
}

.tag {
    margin-bottom: 5px;
}

.bottom {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    gap: 5px;
    display: none;
}

/* TIMELINE */
.timeline {
    padding: 20px;
    padding-bottom: 0px;
    border: 1.4px solid var(--black-carbon);
    border-right: 0px;
    flex: 1;
    background-color: var(--white-cotton);
}

.section-title {
    padding: 5px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1.4px solid var(--black-carbon);
}

.year {
    padding: 5px;
    margin-bottom: 20px;
    border-left: 1.4px solid var(--black-carbon);
    display: inline-block;
}

.post {
    margin-bottom: 20px;
    width: 70%;
    max-width: 700px;
    border: 1.45px solid var(--black-carbon);
    background-color: var(--white-burnt);
    transition: box-shadow 0.3s ease;
}

.post:hover {
    box-shadow: -5px 5px 0px 0px var(--white-hash);
}

.post-title {
    padding: 5px;
    border-bottom: 1.4px solid var(--black-carbon);
}

.bullet {
    font-weight: 800;
}

.post-description {
    gap: 5px;
    padding: 5px;
    border-bottom: 1.4px solid var(--black-carbon);
}

.frame {
    padding: 5px;
    padding-bottom: 1px;
    border-bottom: 1.4px solid var(--black-carbon);
    width: 100%;
    position: relative;
}

.post-footer {
    display: flex;
    flex-flow: row-reverse;
}

.btn-open {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.btn-link {
    position: absolute;
    bottom: 15px;
    right: 50px;
}

.btn {
    transition: transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.link {
    padding: 5px;
    border-left: 1.4px solid var(--black-carbon);
}

/* FOOTER */
footer {
    width: 40vw;
    text-align: end;
}

footer p {
    padding-top: 15px;
    padding-right: 15px;
    font-size: 12px;
}

/* MEDIA QUERIES */
@media (max-width: 1100px) {
    h4 {
        text-align: center;
        display: block;
    }

    .container {
        margin-right: 0px;
        flex-direction: column;
        gap: 20px;
    }

    .header {
        flex-basis: 20vw;
    }

    .top {
        position: static;
    }

    .timeline {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: 0px;
    }

    .year {
        border-left: 0px;
        display: inline;
        /* margin-left: auto; */
        /* margin-right: auto; */
    }

    .post {
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        width: 100%;
        text-align: center;
    }

    footer p {
        padding-right: 0px;
    }
}

@media (max-width: 700px) {
    .post {
        width: 100%;
    }
}